@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: #A4A4A4;
    font-family: 'Montserrat', sans-serif;
}

/* Naruto */
.bg-naruto {
    background-color: #FF8400;
}

.text-n {
    color: #FF8400;
}

.btn-n {
    background-color: #FF8400;
    transition: all ease 1s;
}

.btn-n:hover {
    background-color: #ff6600;
}

.bgnaruto {
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease-in-out 1s;
}

.bgnaruto:hover {
    background-image: url(../images/naruto.png);
    
}
/* Naruto */

/* IMAGE HOVER 3D EFFECT */
/* :root {
    --imgh-height: 100%;
    --imgh-width: calc(var(--imgh-height) / 1.4);
}
.imgh {
            width: var(--imgh-width);
            height: var(--imgh-height);
            position: relative;
            top: 200px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 0 36px;
            perspective: 2500px;
            margin: 0 50px;
        }

        .cover-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .wrapper {
            transition: all 0.5s;
            position: absolute;
            width: 100%;
            z-index: -1;
        }

        .imgh:hover .wrapper {
            transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
            box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        }

        .wrapper::before,
        .wrapper::after {
            content: "";
            opacity: 0;
            width: 100%;
            height: 80px;
            transition: all 0.5s;
            position: absolute;
            left: 0;
        }

        .wrapper::before {
            top: 0;
            height: 100%;
            background-image: linear-gradient(to top,
                    transparent 46%,
                    rgba(12, 13, 19, 0.5) 68%,
                    rgba(12, 13, 19) 97%);
        }

        .wrapper::after {
            bottom: 0;
            opacity: 1;
            background-image: linear-gradient(to bottom,
                    transparent 46%,
                    rgba(12, 13, 19, 0.5) 68%,
                    rgba(12, 13, 19) 97%);
        }

        .imgh:hover .wrapper::before,
        .wrapper::after {
            opacity: 1;
        }

        .imgh:hover .wrapper::after {
            height: 120px;
        }

        .title {
            width: 100%;
            transition: transform 0.5s;
        }

        .imgh:hover .title {
            transform: translate3d(0%, -50px, 100px);
        }

        .character {
            width: 100%;
            opacity: 0;
            transition: all 0.5s;
            position: absolute;
            z-index: -1;
        }

        .imgh:hover .character {
            opacity: 1;
            transform: translate3d(0%, -30%, 100px);
        } */


/* Sasuke */
.text-s {
    color: #3FF7FE;
}

.btn-s {
    background-color: #3FF7FE;
    transition: all ease 1s;
}

.btn-s:hover {
    background-color: #009499;
}

.bgsasuke{
    background-image: url(../images/sbanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease-in-out 1s;
}
.bgsasuke:hover{
    background-image: url(../images/sasuke.png);
}

/* Sasuke */
/* Sakura */
.text-saku {
    color: #FF003D;
}

.btn-saku {
    background-color: #FF003D;
    transition: all ease 1s;
}

.btn-saku:hover {
    background-color: #85001f;
}

.bgsakura{
    background-image: url(../images/Sakurabanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease-in-out 1s;
}
.bgsakura:hover{
    background-image: url(../images/sakura.png);
}

/* Sakura */
/* kakashi */
.text-aka {
    color: #F20000;
}

.btn-aka {
    background-color: #F20000;
    transition: all ease 1s;
}

.btn-aka:hover {
    background-color: #7c0000;
}

.bgkakashi{
    background-image: url(../images/kakashibanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease-in-out 1s;
}
.bgkakashi:hover{
    background-image: url(../images/kakashi.png);
}

/* kakashi */
/* kahinata */
.text-hinata {
    color: #F20000;
}

.btn-hinata {
    background-color: #F20000;
    transition: all ease 1s;
}

.btn-hinata:hover {
    background-color: #7c0000;
}

.bghinata{
    background-image: url(../images/hinatabanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease-in-out 1s;
}
.bghinata:hover{
    background-image: url(../images/hinata.png);
}

/* kahinata */